<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 我的购物清单列表</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
<style>
*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
}
body,html{
    width: 100%;
    height: 100%;
}
</style>
</head>
<body>
    <div id="my">
        <div class="panel panel-info" style="margin:20px;">
            <div class="panel-heading">
                <h1 style="display: inline-block;">vue我的购物清单列表</h1>
                <span>清单总数</span><span class="label label-warning">{{items.length}}</span>
            </div>
            <div class="panel-body">
                <div class="input-group">
                    <input v-model="input" class="form-control" type="text" placeholder="请输入添加的内容">
                    <span class="input-group-btn">
                        <a class="btn btn-success" @click="add()">添加</a>
                    </span>
                </div>
            </div>
        </div>    
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>清单名称</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,i) in items" :key="i">
                        <td>{{item.name}}</td>
                        <td>{{item.status | statusFilter}}</td>
                        <td>
                            <button class="btn btn-success btn-sm"  @click="del(i)">删除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
<script>
window.onload = function(){
    new Vue({
        el:'#my',
        data:{
            input:'',
            items:[
                {name:'苹果',status:0,},
                {name:'橘子',status:1,},
                {name:'香蕉',status:1,},
                {name:'火龙果',status:1,},
                {name:'苹果1',status:0,},
                {name:'苹果2',status:0,},
            ],
        },
        methods:{
            add(){
                if(this.input == '') return
                var data = {
                    name:this.input,
                    status:0
                }
                this.items.unshift(data);
                //this.items = [this.items,data];
                this.input = '';
            },
            del(i){
                this.items.splice(i,1);//(位置，个数)
            },
            getList(){
                axios({
                    methods:'get',
                    url:''
                })
                //.then(function(res){
                .then((res)=>{  //用箭头函数
                    console.log(res);
                    if(res.code == '200'){
                        //数据展示
                    }
                }).catch(function(error){
                    console.log(error)
                })
            }
        },
        mounted(){
            
        },
        computed:{
            
        },
       filters:{  //公共和私有
           statusFilter:function(type){
                switch(type){
                    case 0:return "未采购"
                    case 1:return "已采购"
                    case 2:return "采购中" 
                    default:return "未采购"
                }
           }
       }
    })
}
//arr.foreach(function(item,index){})
</script>
</html>